<!DOCTYPE html>

<html>
	<head>
		<title>newpost</title>
	</head>

	<style type="text/css">
	body {
		font-family: sans-serif;
		width: 800px;
		margin: 0 auto;
		padding: 10px;
	}

	.error {
		color: red;
		font-size: 36px;
	}

	label {
		display: block;
		font-size: 20px;
	}

	input[type=text] {
		width: 400px;
		font-size: 20px;
		padding: 2px;
	}

	textarea {
		width: 400px;
		height: 200px;
		font-size: 17px;
		font-family: monospace;
	}

	input[type=submit] {
		font-size: 24px;
	}


	</style>

	<body>
		<center>
		<h1>newpost</h1>

		<form method="post">
			<label>
				<div>title</div>
				<input type="text" name="subject" value="{{subject}}">
			</label>

			<label>
				<div>content</div>
				<textarea name="content">{{content}}</textarea>
			</label>

			<div class="error">{{error}}</div>

			<input type="submit">
		</form>
		</center>
	</body>

</html>